.nav{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.logo-icon{
  margin-left: 20px;
}

.form-box, .storyline-box {
  height: 30vw; 
  width: 30vw;
  min-width: 350px;
  min-height: 350px;
  border: 0px #000 dashed;
  margin: 20px;
  /* margin-bottom: 20px; */
  box-shadow: 1px 1px 10px #d0d0d0, -1px -1px 10px #d0d0d0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.storyline-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-textbox{
  width: 90%;
  padding: 10px;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textbox{
  margin-left: 0 !important;
}

.buttons{
  width: 70%;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.renderedImg{
  display: flex;
  justify-content:center;
  align-items: center;
}

.comic-container{
  min-width: min-content;
  max-width: fit-content;
  margin: 50px;
  height: auto;
  padding: 20px;
  background-image: url("./dotted_black_background.jpg");
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.panel-container{
  display: inline-flex;
  height: 220px;
  width: 220px;
  margin: 10px;
  border: 5px #fff solid;
}

.panel-container img{
  object-fit: cover;
  object-position: center;
}

@media  screen and (max-width:700px) {
  .body{
    flex-direction: column;
  }
  .nav img{
    width: 70px;
    height: 70px;
  }
}