.form-box, .storyline-box {
  height: 30vw; 
  width: 30vw;
  border: 0px #000 dashed;
  margin-right: 20px;
  box-shadow: 1px 1px 3px #d0d0d0, -1px -1px 3px #d0d0d0;
  padding: 20px;
  border-radius: 10px;
}

.storyline-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-textbox{
  width: 90%;
  padding: 10px;
  margin-left: 0;
}

.textbox{
  margin-left: 0 !important;
}

.buttons{
  /* margin-left: 15px; */
  width: 70%;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.renderedImg{
  display: flex;
  justify-content:center;
  align-items: center;
}

.comic-container{
  /* min-width: 100%; */
  max-width: fit-content;
  /* width: fit-content; */
  margin: 10vh auto;
  padding: 20px;
  background-image: url("./static/dotted_black_background.jpg");
  background-color: #d2d2d2;
  /* background-size: 800px 600px; */
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel-container{
  display: inline-flex;
  height: 220px;
  width: 220px;
  margin: 10px;
  border: 5px #fff solid;
}

.panel-container img{
  object-fit: cover;
  object-position: center;
}